<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MQTTMessengerDevApp.Properties.Settings.MqttMessengerConnectionString"
            connectionString="Data Source=MONSTERMACHINE\SQLEXPRESS1;Initial Catalog=MqttMessenger;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>